body {
    padding-top: 70px;
}

.resizable {
    border: 2px solid gray;
}

.nolink, .nolink:hover, .nolink:focus {
    color: #333;
    text-decoration: none;
}

.form-add-margin {
    margin-left: 15px;
    margin-right: 15px;
}

.label-role-moderator {
    background-color: #f0ad4e;
}

.label-role-admin {
    background-color: #5bc0de;
}

.label-role-superadmin {
    background-color: #428bca;
}

.label-role-owner {
    background-color: #d9534f;
}

.label-status-active {
    background-color: #5cb85c;
}

.label-status-approval {
    background-color: #f0ad4e;
}

.label-status-disabled {
    background-color: #d9534f;
}