body {
    padding-top: 70px;
}

.resizable {
    border: 2px solid gray;
}

.label-role-moderator {
    background-color: #f0ad4e;
}

.label-role-admin {
    background-color: #5bc0de;
}

.label-role-superadmin {
    background-color: #428bca;
}

.label-role-owner {
    background-color: #d9534f;
}

.label-status-active {
    background-color: #5cb85c;
}

.label-status-approval {
    background-color: #f0ad4e;
}

.label-status-disabled {
    background-color: #d9534f;
}