#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:

php:
	date.timezone: Europe/Prague
	# zlib.output_compression: yes

nette:
	application:
		errorPresenter: Error
		mapping:
			*: GeoCaching\*Module\*Presenter

	session:
		expiration: 14 days

database:
	rowFactory:
		classes:
			## rows ##
			# - GeoCaching\Model\
		defaultClass: GeoCaching\Model\ActiveRow

services:
	## tables ##
	- GeoCaching\Model\Servers
	- GeoCaching\Model\ServersComments
	- GeoCaching\Model\Users

	## facades ##
	- GeoCaching\Model\ServerFacade
	- GeoCaching\Model\UserFacade

	- GeoCaching\Security\Authenticator
	- GeoCaching\Controls\MailSender
	- GeoCaching\Routing\RouterFactory

	## serverModule ##
	serverRowFactory: GeoCaching\Database\ServerRowFactory({
		caches: 'GeoCaching\ServerModule\Model\Cache'
	}, 'GeoCaching\Model\ActiveRow')
	- GeoCaching\Database\TableFactory(@serverRowFactory)


	router: @GeoCaching\Routing\RouterFactory::createRouter