{#content}
Ahoj {$username},<br>
<br>
registrace nového serveru na webu GameTeam.cz GeoCaching byla úspěšná!<br>
Zde máš veškeré informace, které potřebuješ pro nastavení pluginu:<br>
<br>
Databáze: <b>{$data->database_name}</b><br>
Uživatel: <b>{$data->username}</b><br>
Heslo: <b>{\GeoCaching\Security\PasswordCrypter::decrypt($data->password)}</b><br>
<br>
Přejeme ti hodně štěstí při hledání pokladů!<br>
<br>
GameTeam.cz GeoCaching tým